.wrap {
  padding: 50px;
}

.box {
  background-color: #eeeeee;
  padding: 50px;
  display: inline-block;
}
.content {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.content:first-of-type {
  background-color: crimson;
}
.content:nth-of-type(2) {
  background-color: cornflowerblue;
}
.content:nth-of-type(3) {
  background-color: bisque;
}
.content:nth-of-type(4) {
  background-color: cadetblue;
}

.content:not(:last-of-type) {
  margin-bottom: 30px;
}

.content:not(:hover) {
  opacity: 0.5;
}
