.wrap {
  padding: 50px;
}

.box {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  position: relative;
}

/* パターン1 */
a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* パターン2 */
/* .box {
  text-align: center;
  line-height: 100px;
} */
