.wrap {
  padding: 50px;
}

p {
  font-size: 3em;
  width: 1em;
  animation: bound 3s infinite;
}

@keyframes bound {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    transform: scale(1.2, 0.8) translate(0%, 10%);
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    transform: scale(0.9, 1.2) translate(0%, -50%);
  }
  75% {
    transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}
