.wrap {
  padding: 50px;
}

.slider {
  width: 300px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.content {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 100px;
  text-align: center;
  font-size: 3em;
}
.content:first-of-type {
  background-color: cadetblue;
}
.content:last-of-type {
  background-color: aqua;
  animation-delay: 4s;
  left: 100%;
}

.content {
  animation: slide 8s infinite;
  -webkit-animation: slide 8s infinite;
}
@keyframes slide {
  0% {
    left: 100%;
  }
  5% {
    left: 0;
  }
  50% {
    left: 0;
  }
  55% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
