.wrap {
  padding: 50px;
}

.colorful {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.colorful {
  border-top: 30px solid #f0897f;
  border-right: 30px solid #f6da69;
  border-bottom: 30px solid #b2ce54;
  border-left: 30px solid #6aa7cd;
  width: 0;
  height: 0;
  border-radius: 50%;
}

/* .colorful {
  width: 0;
  height: 0;
  border-top: 30px solid red;
  border-bottom: 30px solid blue;
  border-left: 30px solid green;
  border-right: 30px solid yellow;
} */
