.wrap {
  padding: 50px;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;

  border-radius: 30% 70% 70% 30%/40% 60% 40% 60%;
  border-radius: 71% 29% 57% 43% / 56% 72% 28% 44%;
}

/* CSSジェネレーター */
/* https://9elements.github.io/fancy-border-radius/#56.71.72.43--. */
